:root{
    --montserrat: 'Montserrat', sans-serif;
    --color-Titulos: #00161C;
    --color-parrafos: #585855;
    --color-fondo: #EAF2FD;
    --color-pantalla: #000;
    --color-textos: #fff;
    --color-btn: #0000ff;
}

body{
    font-family: var(--montserrat);
}