.info .info__container{
    display: flex;
    padding: 3rem;
}

.info__contenido{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.info__titulo{
    color: var(--color-Titulos);
    font-size: 3rem;
    font-weight: 700;
}

.info__descripcion{
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--color-parrafos);
}

.info__lista{
    display: flex;
    justify-content: center;
}

.info__items{
    margin: 1rem;
}

.info__links{
    text-decoration: none;
    color: var(--color-Titulos);
    font-weight: 600;
}

.info__img{
    flex-grow: 2;
    flex-shrink: 2;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.info__lista{
    flex-grow: 2;
}

.info__links:hover{
    text-decoration: underline;
}


@media (max-width: 768px) {
    .info .info__container{
        flex-direction: column;
    }

    .info__titulo{
        font-size: 2rem;
    }
}